@{
    ViewBag.Title = "Services";
}

  <!--===    MAIN WRAP     ===-->
<section class="container section-lg">
    <div class="row">
        <div class="col-md-6 col-sm-12 wow fadeInLeft">

            <h2>We offer the best services</h2>
            <div class="space-sm"></div>
            <p class="text-block">
                Transcendent has the knowledge and skill sets to create unique software solutions from scratch or using 3rd party integrations. We perform work for hire services to develop dependable software solutions.
            </p>
                <p class="text-block">We have worked with many clients to build comprehensive software technologies across on-site, mobile, web, and cloud-based platforms. Whether you are in need of a complete software solution or just looking to augment your team with skilled developers, We have the development solutions you need to take your software to the next level.
            </p>
             <div class="space-sm"></div>
            <ul class="list-inline">
                <li>
                    <a href="#" class="btn btn-primary btn-xlg "><i class="fa fa-bolt"></i>Get started now</a>
                </li>
                <li>
                    <a href="#" class="btn btn-primary-trn btn-xlg "><i class="fa fa-paper-plane-o"></i>Learn more</a>
                </li>

            </ul>
        </div>
        <div class="col-md-6 col-sm-12 fadeInRight wow" data-wow-duration="1s">
            <div class="space-lg visible-xs visible-sm"></div>
            <img class="img-responsive  center-block" alt="Showcase-Flat-Presentation" src="/assets/img/Showcase-Template-Flat-Presentation-Vol-3-portfolio.png">
        </div>
    </div>
</section>

<hr class="container">

<section class="container section margin-b30">

    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="float-box">
                <i class="fa icon-c fa-globe"></i>
                <div class="float-text">
                    <h3><a href="@Url.Action("ApplicationMaintenance", "Services")">Application Maintenance</a></h3>                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="float-box">
                <i class="fa icon-c fa-mobile"></i>
                <div class="float-text">
                    <h3><a href="@Url.Action("Mobile", "Services")">Mobile Application Development</a></h3>                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="float-box">
                <i class="fa icon-c fa-cloud"></i>
                <div class="float-text">
                    <h3><a href="@Url.Action("InfrastructureSupport", "Services")">Infrastructure Support</a> </h3>                    
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 ">
            <div class="float-box">
                <i class="fa icon-c fa icon-c fa-rocket"></i>
                <div class="float-text">
                    <h3><a href="@Url.Action("SDLCManagement", "Services")">Software Life Cycle Management</a> </h3>
                    @*<h3>Software Life Cycle Management</h3>*@                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="float-box">
                <i class="fa icon-c fa-check"></i>
                <div class="float-text">
                    <h3><a href="@Url.Action("QualityAssurance", "Services")">Quality Assurance</a> </h3>                                     
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="float-box">
                <i class="fa icon-c fa-cog"></i>
                <div class="float-text">
                    <h3><a href="@Url.Action("ReengineeringAndMigration", "Services")">Re-engineering & Migration</a> </h3>                      
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="float-box">
                <i class="fa icon-c fa-phone "></i>
                <div class="float-text">
                    <h3><a href="@Url.Action("SLABasedProdSupport", "Services")">SLA - based Production Support</a> </h3>  
                 </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="float-box">
                <i class="fa icon-c fa-shield "></i>
                <div class="float-text">
                    <h3><a href="@Url.Action("SoftwareSecurity", "Services")">Software Security</a> </h3>                     
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="float-box">
                <i class="fa icon-c fa-cogs "></i>
                <div class="float-text">
                    <h3><a href="@Url.Action("SystemIntegration", "Services")">System Integration</a></h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="float-box">
                <i class="fa icon-c fa-cloud-download "></i>
                <div class="float-text">
                    <h3><a href="@Url.Action("WebHostingSolutions", "Services")">Web Hosting Solutions</a></h3>                    
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="float-box">
                <i class="fa icon-c fa-flag "></i>
                <div class="float-text">
                    <h3><a href="@Url.Action("ITILProcess", "Services")">ITIL Process</a></h3>
</div>
            </div>
        </div>
    </div>
</section>

<section class="bg-grey section-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-5 hidden-sm hidden-xs">
                <img class="img-responsive iphone-black" alt="iPhone 5S Minimal Mock Up Black" src="/assets/img/iPhone_5S_Minimal_Mock-up_black.png">
                <img class="img-responsive iphone-white " alt="iPhone 5S Minimal Mock Up White" src="/assets/img/iPhone_5S_Minimal_Mock-up.png">
            </div>
            <div class="col-md-7">
                <div class="space-lg hidden-sm hidden-xs"></div>
                <h2>We offer the best services</h2>
                <div class="space-sm"></div>
                <p class="text-block">Aliquam eget ante non quam sagittis mollis. In nec varius nisi, nec pharetra nisi. Curabitur ut est velit. Aenean at molestie sem a mattis tellus est sit amet neque.</p>
                <p class="text-block">Aenean commodo, ligula ut viverra eleifend, leo urna blandit arcu. Integer placerat tellus eget dolor facilisis, nec malesuada metus tempus. Sed ullamcorper tincidunt odio, nec convallis sem iaculis vitae.</p>
                <div class="space-sm"></div>
                <ul class="list-inline">
                    <li>
                        <a href="#get-started" class="btn btn-primary btn-xlg "><i class="fa fa-bolt"></i>Get started now</a>
                    </li>
                    <li>
                        <a href="#learn-more" class="btn btn-primary-trn btn-xlg "><i class="fa fa-paper-plane-o"></i>Learn more</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section-lg">
    <div class="container">
        <h2 class="big-title text-center">Our Customers</h2>
        <p class="big-subtitle text-center">Cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
        <div class="space"></div>
        <div class="row client-logo">
            <img alt="logo of client - Yahoo" src="/assets/img/logos/Yahoo.png">

            <img alt="logo of client - Coca-Cola" src="/assets/img/logos/Coca-Cola.png">

            <img alt="logo of client - Google" src="/assets/img/logos/Google.png">

            <img alt="logo of client - Intel" src="/assets/img/logos/Intel.png">
        </div>
    </div>
</section>
<!--===/END    MAIN WRAP     ===-->